@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+Display:wght@500;700&family=Poppins:wght@500;600&family=Ubuntu+Mono&display=swap");

$base-font: "Poppins", sans-serif;
$base-font-montserrat: "Montserrat", sans-serif;
$base-font-noto: "Noto Sans Display", sans-serif;
$base-font-ubuntu: "Ubuntu Mono", monospace;
