@use "functions" as *;
@use "variables" as *;
@use "font" as *;

@mixin flex-centering() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin grid-centering() {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin max-width($size) {
  width: 100%;
  max-width: $size;
}

@mixin button-default() {
  background-color: $gray;
  outline: none;
  border: none;
  padding: rem(8) rem(16);
  border-radius: $base-border-radius;
  font-family: $base-font-noto;
  font-weight: 500;
  font-size: rem(14);
  cursor: pointer;
  box-shadow: $base-box-shadow;
}
